attrs==21.4.0
bump2version==1.0.1
bumpversion==0.6.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
idna==3.3
inbox.py==0.0.6
iniconfig==1.1.1
Logbook==1.5.3
ndg-httpsclient==0.5.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.9
pytest==7.1.2
requests==2.27.1
six==1.16.0
tomli==2.0.1
urllib3==1.26.9
attrs==21.4.0
bump2version==1.0.1
bumpversion==0.6.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
idna==3.3
iniconfig==1.1.1
Logbook==1.5.3
ndg-httpsclient==0.5.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.9
pytest==7.1.2
requests==2.27.1
six==1.16.0
tomli==2.0.1
urllib3==1.26.9
aiosmtpd==1.4.2
atpublic==3.0.1
attrs==21.4.0
bump2version==1.0.1
bumpversion==0.6.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
idna==3.3
inbox.py==0.0.6
iniconfig==1.1.1
Logbook==1.5.3
ndg-httpsclient==0.5.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.9
pytest==7.1.2
requests==2.27.1
six==1.16.0
tomli==2.0.1
urllib3==1.26.9
