aiosmtpd==1.4.2
alembic==1.8.0
anyio==3.6.1
atpublic==3.0.1
attrs==21.4.0
bleach==5.0.1
bump2version==1.0.1
bumpversion==0.6.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
ecdsa==0.17.0
fastapi==0.78.0
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
Logbook==1.5.3
Mako==1.2.0
MarkupSafe==2.1.1
ndg-httpsclient==0.5.1
packaging==21.3
passlib==1.7.4
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
pytest==7.1.2
python-jose==3.3.0
requests==2.27.1
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.37
starlette==0.19.1
tinycss2==1.1.1
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
webencodings==0.5.1
